ALPACA_API_KEY=your_key_id
ALPACA_SECRET_KEY=your_secret_key
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=optionflow
MONGODB_DATA_RETENTION_DAYS=7
MONGODB_IV_RANK_SESSIONS=60
